{% extends 'base.html' %} {% load custom_filters %} {% block title %} {{
page_title }} {% endblock %} {% block header %}
<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <!--begin::Container-->
  <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
    <!--begin::Page title-->
    <div
      data-kt-swapper="true"
      data-kt-swapper-mode="prepend"
      data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
      class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0"
    >
      <!--begin::Title-->
      <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
        Заказы клиентов
      </h1>
      <!--end::Title-->
      <!--begin::Separator-->
      <span class="h-20px border-gray-300 border-start mx-4"></span>
      <!--end::Separator-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
        <!--begin::Item-->
        <li class="breadcrumb-item text-muted">
          <a href="{% url 'home' %}" class="text-muted text-hover-primary"
            >Главная</a
          >
        </li>
        <!--end::Item-->
        <!--begin::Item-->
        <li class="breadcrumb-item">
          <span class="bullet bg-gray-300 w-5px h-2px"></span>
        </li>
        <!--end::Item-->
        <!--begin::Item-->
        <li class="breadcrumb-item text-muted">Заказы</li>
        <!--end::Item-->
        <!--begin::Item-->
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Page title-->
  </div>
  <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
{% endblock %} {% block content %}
<div class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
        <span class="svg-icon svg-icon-1 position-absolute ms-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <rect
              opacity="0.5"
              x="17.0365"
              y="15.1223"
              width="8.15546"
              height="2"
              rx="1"
              transform="rotate(45 17.0365 15.1223)"
              fill="black"
            />
            <path
              d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
              fill="black"
            />
          </svg>
        </span>
        <!--end::Svg Icon-->
        <form method="GET" action="{% url 'order:order_list' %}">
          <input
            type="text"
            name="query"
            class="form-control form-control-solid w-250px ps-14"
            placeholder="Поиск по ID"
          />
          <button type="submit" style="display: none"></button>
        </form>
      </div>
      <!--end::Search-->
    </div>
    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
      <div class="w-100 mw-150px">
        <!--begin::Select2-->
        <form
          id="order-filter-form"
          method="GET"
          action="{% url 'order:order_list' %}"
        >
          <!--begin::Select2-->
          <select
            name="order_status"
            class="form-select form-select-solid"
            data-control="select2"
            data-hide-search="true"
            data-placeholder="Status"
            data-kt-ecommerce-order-filter="status"
          >
            <option></option>
            <option value="all">All</option>
            {% for status in order_status_choices %}
            <option value="{{ status.0 }}">{{ status.1 }}</option>
            {% endfor %}
          </select>
          <!--end::Select2-->
        </form>
      </div>
      <!--end::Select2-->

      <!--begin::Add product-->
      <a href="{% url 'order:order_create' %}" class="btn btn-primary"
        >Добавить заказ</a
      >
      <!--end::Add product-->
    </div>
  </div>
  <div class="card-body pt-0">
    <!--begin::Table-->
    <table
      class="table align-middle table-row-dashed fs-6 gy-5"
      id="kt_ecommerce_sales_table"
    >
      <!--begin::Table head-->
      <thead>
        <!--begin::Table row-->
        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
          <th class="w-10px pe-2">
            <div
              class="form-check form-check-sm form-check-custom form-check-solid me-3"
            >
              <input
                class="form-check-input"
                type="checkbox"
                data-kt-check="true"
                data-kt-check-target="#kt_ecommerce_sales_table .form-check-input"
                value="1"
              />
            </div>
          </th>
          <th class="text-end min-w-100px">ID Заказа</th>
          <th class="text-end min-w-200px">Клиент</th>
          <th class="text-end min-w-150px">Тип заказа</th>
          <th class="text-end min-w-70px">Статус</th>
          <th class="text-end min-w-150px">Сумма счета</th>
          <th class="text-end min-w-150px">Дата заказа</th>
          <th class="text-end min-w-180px">Срок заказа</th>
          <th class="text-end min-w-80px">Действия</th>
        </tr>
        <!--end::Table row-->
      </thead>
      <!--end::Table head-->
      <!--begin::Table body-->
      <tbody class="fw-bold text-gray-600">
        <!--begin::Table row-->
        {% for order in orders %}
        <tr>
          <!--begin::Checkbox-->
          <td>
            <div
              class="form-check form-check-sm form-check-custom form-check-solid"
            >
              <input class="form-check-input" type="checkbox" value="1" />
            </div>
          </td>
          <!--end::Checkbox-->
          <!--begin::Order ID=-->
          <td data-kt-ecommerce-order-filter="order_id">
            <a class="text-gray-800 text-hover-primary fw-bolder"
              >{{ order.order_number }}</a
            >
          </td>
          <!--end::Order ID=-->
          <!--begin::Customer=-->
          <td>
            <div class="d-flex align-items-center">
              <!--begin:: Avatar -->
              <div
                class="symbol symbol-circle symbol-50px overflow-hidden me-3"
              >
                <a>
                  <div class="symbol-label">
                    <img
                      src="{{ order.customer.image.url }}"
                      alt="Sean Bean"
                      class="w-100"
                    />
                  </div>
                </a>
              </div>
              <!--end::Avatar-->
              <div class="text-end ms-5">
                <!--begin::Title-->
                <a class="text-gray-800 text-hover-primary fs-5 fw-bolder"
                  >{{ order.customer.name|initials }}</a
                >
                <!--end::Title-->
              </div>
            </div>
          </td>

          <!--end::Customer=-->
          <!--begin::Order type=-->
          <td class="text-end pe-0">
            <!--begin::Badges-->
            <div class="badge badge-light-danger">
              {{ order.order_type|capfirst }}
            </div>
            <!--end::Badges-->
          </td>
          <!--end::Order type=-->
          <!--begin::Status=-->
          <td class="text-end pe-0">
            <!--begin::Badges-->
            <div class="badge badge-light-success">
              {{ order.order_status|capfirst }}
            </div>
            <!--end::Badges-->
          </td>
          <!--end::Status=-->
          <!--begin::Total=-->
          <td class="text-end pe-0">
            <span class="fw-bolder">{{ order.invoice.amount }} Р.</span>
          </td>
          <!--end::Total=-->
          <!--begin::Date Added=-->
          <td class="text-end" data-order="2022-02-10">
            <span class="fw-bolder">{{ order.create_at|date:"d/m/Y" }}</span>
          </td>
          <!--end::Date Added=-->
          <!--begin::Date Modified=-->
          <td class="text-end" data-order="2022-02-11">
            <span class="fw-bolder badge-danger fw-bolder"
              >{{ order.deadline|date:"d/m/Y" }}</span
            >
          </td>
          <!--end::Date Modified=-->
          <!--begin::Action=-->
          <td class="text-end">
            <a
              href="#"
              class="btn btn-sm btn-light btn-active-light-primary"
              data-kt-menu-trigger="click"
              data-kt-menu-placement="bottom-end"
              >Actions
              <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
              <span class="svg-icon svg-icon-5 m-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                    fill="black"
                  />
                </svg>
              </span>
              <!--end::Svg Icon--></a
            >
            <!--begin::Menu-->
            <div
              class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4"
              data-kt-menu="true"
            >
              <!--begin::Menu item-->
              <div class="menu-item px-3">
                <a
                  href="{% url 'order:order_detail' order.id  %}"
                  class="menu-link px-3"
                  >View</a
                >
              </div>
              <!--end::Menu item-->
              <!--begin::Menu item-->
              <div class="menu-item px-3">
                <a
                  href="../../demo1/dist/apps/ecommerce/sales/edit-order.html"
                  class="menu-link px-3"
                  >Edit</a
                >
              </div>
              <!--end::Menu item-->
              <!--begin::Menu item-->
              <div class="menu-item px-3">
                <a
                  href="#"
                  class="menu-link px-3"
                  data-kt-ecommerce-order-filter="delete_row"
                  >Delete</a
                >
              </div>
              <!--end::Menu item-->
            </div>
            <!--end::Menu-->
          </td>
          <!--end::Action=-->
        </tr>
        <!--end::Table row-->
        {% endfor %}
      </tbody>
      <!--end::Table body-->
    </table>
    <!--end::Table-->
  </div>
</div>
<!--end::Orders-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    // Обработчик изменения значения в фильтре
    $('select[name="order_status"]').change(function () {
      $("#order-filter-form").submit(); // Отправка формы при изменении значения
    });
  });
</script>
<script>
  // Event handler for the "Create Order" button click event
  document
    .getElementById("createOrderModalBtn")
    .addEventListener("click", function () {
      // Show the modal
      $("#createOrderModal").modal("show");
    });
</script>

{% endblock %}
